[tool.black]
line-length = 88
target-version = ["py310"]

[tool.isort]
profile = "black"

[tool.flake8]
max-line-length = 88
extend-ignore = ["E203", "W503"]


[tool.mypy]
python_version = "3.10"
ignore_missing_imports = true
disallow_untyped_defs = true
exclude = "test/.*"
warn_unused_ignores = true
warn_return_any = true
warn_unreachable = true
check_untyped_defs = true
no_implicit_optional = true
strict_equality = true
show_error_codes = true 
pretty = true
files = "software/.*\.py"



